<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="CRM test suit" >
    <test name="CRM page Tests">
        <classes>
            <class name="com.crm.qa.testcases.LoginPageTest"></class>
            <class name="com.crm.qa.testcases.HomePageTest"></class>
            <class name="com.crm.qa.testcases.ContactPageTest"></class>
        </classes>
    </test>

</suite>
